body {
  background-color: rgb(196, 208, 255);
}

a {
  color: rgb(197, 22, 109);
  text-decoration: none;
}

h1 {
  text-align: center;
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  border: 10px solid orange;
  margin: 8px 36px;
}

h2 {
  color: rgb(45, 41, 102);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#description {
  padding-left: 36px;
  border: 10px dashed rgb(240, 158, 26);
}

.ingredients-section {
  background-color: rgb(255, 196, 0);
  padding: 36px;
}

.ingcolor {
  color:rgb(130, 76, 15);
}

#more-recipes ul{
  list-style-type: none;
}